.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .3);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  height: 100px;
  width: 100px;  
  border-radius: 50%;
  border: 8px solid transparent;
  border-bottom-color: aliceblue;
  position: relative;
  animation: spinA 1s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-spin {  
  height: 80px;
  width: 80px;    
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 8px solid transparent;
  border-bottom-color: #FF9F29;
  border-left-color: #FF9F29;
  animation: spinB 1s infinite;
}

.navbar-brand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spinC 1s infinite;
}

@keyframes spinA {
  0%, 10% {
    transform: rotate(0deg);
  }
  
  20%, 30% {
    transform: rotate(90deg);
  }
  
  40%, 50% {
    transform: rotate(180deg);
  }
  
  70%, 80% {
    transform: rotate(270deg);
  }
  
  90%, 100% {
    transform: rotate(360deg);
  }
}

@keyframes spinB {
  0%, 10% {
    transform: translate(-50%, -50%) rotate3d(0, 0, 0, 0deg);
  }
  
  20%, 30% {
    transform: translate(-50%, -50%) rotate3d(1, 1, 0, 90deg);
  }
  
  40%, 50% {
    transform: translate(-50%, -50%) rotate3d(2, 2, 0, 180deg);
  }
  
  70%, 80% {
    transform: translate(-50%, -50%) rotate3d(3, 3, 0, 270deg);
  }
  
  90%, 100% {
    transform: translate(-50%, -50%) rotate3d(4, 4, 0, 360deg);
  }
}

@keyframes spinC {
  0%, 10% {
    transform: translate(-50%, -50%) rotateY(0deg);
  }
  
  20%, 30% {
    transform: translate(-50%, -50%) rotateY(90deg);
  }

  40%, 50% {
    transform: translate(-50%, -50%) rotateY(180deg);
  }
  
  70%, 80% {
    transform: translate(-50%, -50%) rotateY(270deg);
  }
  
  90%, 100% {
    transform: translate(-50%, -50%) rotateY(360deg);
  }
}

