<div class="container-fluid">
  <div class="text-box">
    <h1>New Proposal</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo est officiis
      laudantium magni! Accusamus, illum fugiat aliquam dignissimos maiores
      error!
    </p>
  </div>
  <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{ !isLinear ? "Enable linear mode" : "Disable linear mode" }}
  </button>
  <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Team Name</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Team Name"
            readonly
            formControlName="firstCtrl"
            required
            ngModel="aaa"
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Attachments</ng-template>
        <mat-label>Choose File</mat-label>
        <div class="file-upload-box">
          <input
            type="file"
            formControlName="file"
            #fileLoader
            (change)="addFiles($event)"
          />
          <button mat-button type="button" (click)="fileLoader.click()">
            Upload
          </button>
          <img *ngIf="preview" height="100px" [src]="preview" alt="" />
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Summary</ng-template>
      <mat-card class="summary-box">
        <ul>
          <h3>Contact Information</h3>
          <li>{{ 'test' }}</li>
          <li>{{ 'test' }}</li>
          <li>{{ 'test' }}</li>
        </ul>
        <mat-divider></mat-divider>
        <ul>
          <h3>Project Details</h3>
          <li>{{ 'test' }}</li>
          <li>{{ 'test' }}</li>
        </ul>
      </mat-card>
      <div>
        <button mat-button (click)="stepper.reset()">Cancel</button>
        <button mat-button>Confirm</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
