.container-fluid {    
  padding-top: var(--margin-top-container);
  margin-bottom: var(--margin-top-container);
  background: url(../../../../../assets/images/backgrounds/bg3.jpg) center center/cover;
}

.page-title {
  padding: 5px 10px;
}