<div class="status-box">
  <div class="item items">
    <h2 class="item-title">Request</h2>
    <p class="item-text"> {{ requestCount }} </p>
  </div>

  <div class="line-vertical"></div>

  <div class="item items">
    <h2 class="item-title">Accepted</h2>
    <p class="item-text">1</p>
  </div>

  <div class="line-vertical"></div>

  <div class="item items">
    <h2 class="item-title">Denied</h2>
    <p class="item-text">1</p>
  </div>

  <div class="line-vertical"></div>

  <div class="item items">
    <h2 class="item-title">Team members</h2>
    <p class="item-text">1 / 3</p>
  </div>
</div>
