<div class="container-fluid">
  <div class="text-box">
    <h1>New Proposal</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo est officiis
      laudantium magni! Accusamus, illum fugiat aliquam dignissimos maiores
      error!
    </p>
  </div>
  <mat-stepper #stepper>
    <mat-step [stepControl]="contactInfoGroup" errorMessage="Name is required.">
      <form [formGroup]="contactInfoGroup">
        <ng-template matStepLabel>Contact Information</ng-template>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Company Name</mat-label>
            <input
              type="text"
              matInput
              placeholder="e.g. Com"
              formControlName="name"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
              type="email"
              matInput
              placeholder="com@com.com"
              formControlName="email"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Phone</mat-label>
            <input
              type="text"
              matInput
              placeholder="000-000-0000 or (000)000-0000"
              formControlName="phone"
            />
          </mat-form-field>
        </div>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step
      [stepControl]="projectDetailGroup"
      errorMessage="Address is required."
    >
      <form [formGroup]="projectDetailGroup">
        <ng-template matStepLabel>Project Details</ng-template>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Title" formControlName="title" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              placeholder="Description"
              formControlName="description"
            ></textarea>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Target Program</mat-label>
            <mat-select formControlName="targetProgram" multiple>
              <mat-select-trigger>
                {{toppings.value?.[0] || ''}}
                <span
                  *ngIf="(toppings.value?.length || 0) > 1"
                  class="example-additional-selection"
                >
                  (+{{ (toppings.value?.length || 0) - 1 }}
                  {{ toppings.value?.length === 2 ? "other" : "others" }})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let p of programs" [value]="p">{{
                p
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Attachments</ng-template>
      <form [formGroup]="fileUploadGroup">
        <ng-template matStepLabel>file upload</ng-template>
        <div class="form-group">
          <mat-label>Choose File</mat-label>
          <input
            type="file"
            formControlName="file"
            #fileLoader
            (change)="addFiles($event)"
          />
          <button mat-button type="button" (click)="fileLoader.click()">
            Upload
          </button>
          <img *ngIf="preview" height="100px" [src]="preview" alt="" />
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Completed</ng-template>
      <p>You are now done.</p>
      <mat-card>
        <h2>Summary:</h2>
        <ul>
          Contact Information
          <li>{{ contactInfoGroup?.get("name")?.value }}</li>
          <li>{{ contactInfoGroup?.get("email")?.value }}</li>
          <li>{{ contactInfoGroup?.get("phone")?.value }}</li>
        </ul>
        <mat-divider></mat-divider>
        <ul>
          Project Details
          <li>{{ projectDetailGroup.get("title")?.value }}</li>
          <li>{{ projectDetailGroup.get("description")?.value }}</li>
          <li>
            <small
              *ngFor="let t of projectDetailGroup.get('targetProgram')?.value ; index as i"
            >
            {{ t }} {{ i}},
            </small>
          </li>
        </ul>
        <mat-divider></mat-divider>
        <ul>
          <li>{{ fileUploadGroup.get("file")?.value }}</li>
        </ul>
      </mat-card>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
