/* You can add global styles to this file, and also import other style files */

:root {
  --color-bg-primary: #F4F9F9;
  --color-bg-primary-dark: #5B5B5B;
  --color-nav-indicator: ##ff9f29;
  --color-nav-active: #f00;
  --color-brand-font-primary: #D4AF37;
  --color-brand-border: #D35D6E;
  --color-font-white: #fff;
  --margin-top-container: 80px;  
  --color-line: #E4DCCF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;      
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;      
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

main {
  min-height: 80vh;
  position: relative;
  /* min-height: 600px; */
}

/* site brand styles */
.navbar-brand {  
  padding: 40px;
  display: flex;
  color: var(--color-brand-font-primary);
  
}

.navbar-brand .brand-logo > span {
  
}

.navbar-brand .brand-logo {
  height: 30px;
  position: relative;
}

.navbar-brand .brand-logo::before {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-left-color: var(--color-brand-border);
  border-right-color: var(--color-brand-border);
  border-bottom-color: var(--color-brand-border);
}
/* site brand styles */

/* common */
a {
  letter-spacing: 1px;
  text-decoration: none;
}

.active {
  /* active link style */
  color: var(--color-nav-active);
}

.line-vertical {
  height: 100px;
  width: 2px;    
  background-color: var(--color-line);
  border: none;
}

/* responsive styles */
@media all and (max-width:996px) {
  .nav-menu-box {
    flex-direction: column;     
    width: 100%;  
  }  
  
  .nav-menu-box li {
    position: relative;
  }

  .navbar-nav .nav-menu-box > li:hover::before {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    left: -10px;    
  }

  .sub-nav {
    left: 120px;
    top: 0;
  }

  .sub-nav li {
    padding-left: 10px;
  }

  .toggler-btn {  
    transform: scale(1) !important;
  }
}

@media all and (max-width:730px) {
  .status-box {
    flex-wrap: wrap;
  }

  .items {
    width: 100% !important;       
    border-bottom: 2px solid #fff; 
    flex-direction: row !important;
    align-items: center;
    justify-content: space-around !important;
    padding: 10px 0;    
  }

  .items .item-title {
    width: 50% !important;    
    margin: 0 5px;
  }

  .items p {
    width: 50% !important;
    text-align: center;
    margin: 0;
  }
  
  .items:last-child {
    width: 100% !important;       
    border-bottom: none; 
  }

  .line-vertical {
    display: none;
  }
}
/* responsive styles */